body{
font-family:sans-serif;
background:white url(http://images.wikia.com/adventuretimewithfinnandjake/images/3/3a/S1e1_flip_out.png) repeat top right;

}

h1{
	color:red;
}

.active{
border:1px solid black;
}

p{
	margin:20px;
}